@use '@fontsource-variable/inter';

body {
  font-family: 'Inter', sans-serif;
}

noscript {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000d;
  color: #fff;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}